page-form {
.full{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../assets/imgs/7.jpg);
}
h1{
    color: white;
    text-align: center;
    padding: 15%;
}
.container{
    background-color: rgba(204, 220, 233, 0.082);
    color: white;
}
.container1{
    background-color: rgba(204, 220, 233, 0.082);
    color: white;
}
.container2{
    background-color: rgba(204, 220, 233, 0.082);
    color: white;
}
}
